// COLORS

$white:     #ffffff;
$black:     #777777;
$silver:    #efefef;
$blue:      #526880;

$primary-color: #526880;
$secondary-color: #6eb4ef;
$section-border-color: #dbe4ec;
$body-font-color: $black;

$global-radius: 5px;